.reviewItem{
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin: 28px;
    width: 571px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.reviewItem img{
    width: 91px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.reviewItem h1{
    font-size: 16px;
}
.reviewItem span{
    display: block;
    font-size: 16px;
}
.deleteButton{ border: none; 
    width: 60px; height: 60px; 
    border-radius: 50px ; 
    -webkit-border-radius: 50px ; 
    -moz-border-radius: 50px ; 
    -ms-border-radius: 50px ; 
    -o-border-radius: 50px ;
    background: rgba(235, 87, 87, 0.3);
    cursor: pointer;

}
.deleteIcon{
    width: 30px;
    height: 30px;
    color: #EB5757;
}