.navHeader{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
}
.navHeader a{
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0 16px;
}
.navHeader a:hover{
    color: #ffa500;
}